@{
    ViewData["Title"] = "Home Page";
}

<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="~/img/addisu.jpg" class="img-fluid rounded b-shadow-a" alt="No Image">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Addisu Melese Hailu</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Web Developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>addis1melese@gmail.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>+251-948-773-837</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>HTML</span> <span class="pull-right">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>CSS5</span> <span class="pull-right">73%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>PHP</span> <span class="pull-right">65%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>JavaScript/Jquery</span> <span class="pull-right">70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>C#</span> <span class="pull-right">70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>Query</span> <span class="pull-right">60%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>Asp Dot Net</span> <span class="pull-right">60%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>Java</span> <span class="pull-right">50%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>C++</span> <span class="pull-right">60%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>C</span> <span class="pull-right">60%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p>
                                    I am a junior working towards a Bachelor’s degree in Electrical and Computer Engineering with Web Developer. Despite being a full time student,
                                    balancing two majors, Learning and working over 30 hours a week,
                                    I have completed my high school education starting from the eighth up to twelfth grade in Addis Kidam preparatory and secondary school,
                                    Ethiopia. There, in my parent’s homeland,
                                </p>
                                <p>
                                    I have done my bachelor’s degree in Electrical and Computer Engineering in Addis Ababa University December 24, 2020,
                                    a five years commutative, with a CGPA of ___, Although I did exceedingly well there, ranking second amongst my classmates,
                                    Regardless of the radical shift in culture and educational systems,
                                </p>
                                <p>
                                    Throughout my life I have experienced many challenges, from moving away from home to trying to finish my education in the University.
                                    However, nothing would ever prepare me for the choice I had to make recently.
                                </p>
                                <p>
                                    I was born from small rural area, Where it is 460km from Adddis Ababa and Northern part of Ethiopia. I wast long time on my education.
                                    Even if the life is difficult I am living there. It’s also the hardest and not always the most fulfilling. <br />
                                    I am currently working as software developer from CNET Software Technology PLC. In this position my responsibility is built and developing website from scratch.
                                    Almost for 2 years I have gained ample experience in the field of developing, testing and implementing of software as well as maintenances of this system.
                                    Besides to this before I hired from CNET I had worked in interfacing, 4G network, camera, and server installation for 2 years.<br />
                                    I made this website for you,
                                    dear reader. I invite you to become involved.Would you like to invite me to work with you by the following postion
                                    <ol type="1">
                                        <li>Software Development (Web site developing, testing,maintainance)</li>
                                        <li>Releated with Electrical installation</li>
                                        <li>Interfacing(Robotics, Automation of device)</li>
                                    </ol>
                                    I'm available for ever.Please check out my upcoming events, I would love to see you there.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        AMH
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Electrical Instalation</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-wifi"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Network Installation</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Web</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-ios-barcode"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Interfacing</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-ios-book-outline"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Give programming Tutorial</h2>
                        <p class="s-description text-center">
                            Wait
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->

<div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">5</p>
                        <span class="counter-text">WORKS COMPLETED</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">3</p>
                        <span class="counter-text">YEARS OF EXPERIENCE</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">0</p>
                        <span class="counter-text">TOTAL CLIENTS</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">0</p>
                        <span class="counter-text">AWARD WON</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        AMH
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-1.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/img/work-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Wait</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Develeopment</span> / <span class="w-date">2021-@DateTime.Now.Year</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a asp-controller="Home" asp-action="portfoliodetail" class="ion-ios-plus-outline"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-2.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/img/work-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Wait</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Electrical Installation</span> / <span class="w-date">2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a asp-controller="Home" asp-action="portfoliodetail1" class="ion-ios-plus-outline"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-3.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/img/work-3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Wait</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Interfacing</span> / <span class="w-date">2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a asp-controller="Home" asp-action="portfoliodetail2" class="ion-ios-plus-outline"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->
<!--/ Section Testimonials Star /-->
<div class="testimonials paralax-mf bg-image" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <!-- <div class="testimonial-box">
                      <div class="author-test">
                        <img src="~/img/testimonial-3.jpg" alt="" class="rounded-circle b-shadow-a">
                        <span class="author">Friends</span>
                      </div>
                      <div class="content-test">
                        <p class="description lead">keep
                        </p>
                        <span class="comit"><i class="fa fa-quote-right"></i></span>
                      </div>
                    </div> -->
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="~/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a img-responsive">
                            <span class="author">Addisu Melese</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                keep
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Section Blog Star /-->
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Blog
                    </h3>
                    <p class="subtitle-a">
                        AMH
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a asp-controller="Home" asp-action="blogSingle"><img src="~/img/post-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Chalenge</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a asp-controller="Home" asp-action="blogSingle">See more ideas about </a></h3>
                        <p class="card-description">
                            Wait
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="~/img/testimonial-3.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">Addisu Melese</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Blog End /-->
<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Message Us
                                    </h5>
                                </div>
                                <div>
                                    <form action="" method="post" role="form" class="contactForm">
                                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p>
                                        I am a junior working towards a Bachelor’s degree in  Electrical and computer Engineering with database administrator.
                                        Despite being a full time student, balancing two majors,
                                        Learning and working over 30 hours a week,
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="ion-ios-location"></span> Addis Ababa, Ethiopia, 1000</li>
                                        <li><span class="ion-ios-telephone"></span> +251948773837</li>
                                        <li><span class="ion-email"></span> <a href="mailto:addis1melese@gmail.com" target="_blank">addis1melese@gmail.com</a></li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li><a href="https://www.facebook.com/melkadis.melese/"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/addisu-melese-a4a45517a/" target="_blank"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                                        <li><a href="#" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                                        <li><a href="#" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                                        <li><a href="#" target="_blank"><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright <strong>Addisu Melese</strong> All Rights are Reserved</p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                            -->
                            Designed by <a href="#">Addisu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/ Section Contact-footer End /-->
